/* здесь используйте глобальные переменные */
$basic-white: #ffffff;
$basic-black: #000000;
$base-color-text: #444444;
$special-color-text: #222222;
$special-gray-text: #111111;

$accent-color: #68b738;

$primary-font:"Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;
