.contacts__reason {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $special-gray-text;
  text-transform: uppercase;
}

.contacts__adres {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 20px;
  color: $base-color-text;
}
