.example__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
}

.example__price {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  color: $basic-black;
  text-transform: uppercase;
}

