.promo__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: $basic-white;
  text-align: center;
}

.promo__intro {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: $basic-white;
  text-transform: uppercase;
}

